<nav class="black">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <i class="fa-solid fa-laptop-code"></i>
            <span>Alexandra Lee</span>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
            <span class="sr-only">Open mobile navigation</span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/resume.html">Resume</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Home</a></li>
    <li><a href="/projects.html">Projects</a></li>
    <li><a href="/resume.html">Resume</a></li>
    <li><a href="/contact.html">Contact</a></li>
</ul>
